<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
          <div class='col-md-4'>
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <audio id='audio' controls autoplay='autoplay'>
              <source src="" type="audio/mp3">
              Your browser does not support the audio element.
            </audio><button class='btn btn-default' onclick='nextMusic()'><span class='glyphicon glyphicon-step-forward'></span></button> <br/>
            <span id='playing'></span>
          </div>
          <div class='col-md-4'>
            <h3>What moods does this music fit?</h3>
            Moods: <input type='text' class='form-control' id='tags'></input><button class='btn btn-default' onclick='saveTags()'> Save</button>
            Rate: <span id'spRate'> N/A </span>
          </div>
          <div class='col-md-4' style='overflow:scroll;'>
            <h3>Your Playlist</h3>

            <ul id='ulPlay'>
            </ul>
          </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <h3>Upload!</h3>
          <form id='uploadForm' enctype="multipart/form-data">
            <input type="file" id='songInput' name="uploadfile" multiple>
            <input class='btn btn-default' type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <h4>Playlists:</h4>
          <% if (playlists != undefined &&playlists.length > 0) {%>
          <p>
          <% for(var i = 0; i < playlists.length; i++){%>
  	    	  <button onclick='getPlaylist("<%=playlists[i].att%>","<%=playlists[i].name%>")'<%if(playlists[i].att == 'genre'){%>class='btn btn-success'<%}%><%if(playlists[i].att == 'author'){%>class='btn btn-info'<%}%><%if(playlists[i].att == 'tags'){%>class='btn btn-warning'<%}%><%if(playlists[i].att == 'year'){%>class='btn btn-default'<%}%>><%= playlists[i].name %> </button>
          <%}%>
          </p>
          <%}else{%>
            No Playlists yet. Upload more musics or make your own!
          <%}%>
        </div>
      </div>
      <div class='row'>
          <div class='col-md-6'>
            <input class="form-control" id='autocomplete' placeholder="Search" />

            <ul id='ulMsc'>
            </ul>
          </div>
          <div class='col-md-6'>
            oiee
          </div>
      </div>
    </div>
  </body>
  <script src='/js/jquery.js'></script>
  <script src='/js/jquery-ui.js'></script>
  <script src='/js/jquery.form.min.js'></script>
  <script src="/js/bootstrap-file-input.js"></script>
  <script src="/js/main.js"></script>
  
  <script type='text/javascript' >
  var arrMusics = [];
  var ind = 0;
  var files;
  var array = '<%= musictitle %>'.split('/');
  var playingMusic = array[array.length - 1];

  $('#songInput').on('change', function (event){
      files = event.target.files;
  });
  $('form').on('submit', function (event){
    event.stopPropagation();
    event.preventDefault();

    var data = new FormData();
    var toUpload =[];
    for(var i = 0; i < files.length; i++){
        if(files[i].type.indexOf('audio') != -1){
          toUpload.push(files[i]);
        }
    }
    
    $.each(toUpload, function(key, value){
      data.append(key, value);
    });

    $.ajax({
      url: '/upload',
      type: 'POST',
      data: data,
      cache: false,
      dataType: 'json',
      processData: false,
      contentType: false,
      success: function(data){
        if(!data.error){
          alert('uhuuul')
        }
      },
      error: function(data){
        alert('error');
      }
    });
  });
  $(document).ready(function(){
    var tags = []
    $( "#autocomplete" ).autocomplete({
        source: tags,
        select: function(event ,ui){
          putMusicNext(ui.item.label);
        }
        });
      $.ajax({
          type: 'POST',
          url: '/getMusics/',
          success: function(data){
            console.log('success');
            tags.length = 0;
            if(!data.status){
              data.forEach(function(item){
                tags.push(item.title);
                arrMusics.push(item);
                $('#ulMsc').html($('#ulMsc').html() + '<li><span style="cursor:pointer;" onclick=\'putMusicNext("'+ item.title +'")\'><strong>' + item.title +'</strong> -' + item.author +'</span></li>')
              });
              updatePlaylist();
              ind = 0;
              nextMusic();
            }
          },
        });
      

      

  });
  

  

  function submitForm(event, data){

  }

  $('input[type=file]').bootstrapFileInput();
  $('.file-inputs').bootstrapFileInput();

    
    $('#audio').on('play', function(){
        $.ajax({
          type: 'POST',
          url: '/getTags/',
          data: {name: playingMusic},
          success: function(data){
            $('#tags').val('');
            if(data != undefined && data.length > 0){
              data.forEach(function(item){
                $('#tags').val($('#tags').val() + item);
              })
            }
          },
        });
    });
    $('#audio').on('ended', function(){
      nextMusic();
    });

    function saveTags(){
      var moods = $('#tags').val();
      $.ajax({
          type: 'POST',
          url: '/saveTags',
          data: {tags: moods,name: playingMusic},
          success: function(data){
              console.log(data);
          }
        });
    }
    function getPlaylist(att, value){
      $.ajax({
        type: 'POST',
        url:'/getPlaylist',
        data: {att: att, value: value},
        success: function(data){
          if(!data.status){
            arrMusics = data;
            ind = 0;
            updatePlaylist();
          }
        }
      })
    }

    function putMusicNext(title){
      $.ajax({
            type: 'POST',
            url: '/getMusic',
            data: {title: title},
            success: function(data){
              arrMusics.splice(ind,0,data);
              updatePlaylist();
            }
          })
    }

    function updatePlaylist(){
      $('#ulPlay').html('');
      arrMusics.forEach(function(item){
        $('#ulPlay').html($('#ulPlay').html() + '<li><strong>' + item.title +'</strong> -' + item.author +'</li>')
      });

    }

    function nextMusic(){
      if(ind >= arrMusics.length){
        ind = 0;
      }
      saveTags();
      playingMusic = arrMusics[ind].name;
      audio.src = 'http://'+'<%=ip%>'+':3001/stream/' + arrMusics[ind].name;
      $('#playing').html('<b>' + arrMusics[ind]. title + '</b> - ' + arrMusics[ind].author);
      ind++;
    }
  </script>
</html>