<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>moodplayer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
  	<script src='/js/jquery.form.min.js'></script>
  	<script src="/js/bootstrap-file-input.js"></script>
	<script src='/js/jquery.js'></script>
	<script src='/js/jquery-ui.js'></script>
	<script src='/js/jquery.form.min.js'></script>
	<script src="/js/bootstrap-file-input.js"></script>
  <script src="/js/jquery.balloon.min.js"></script>
</head>
<style>
.ui-autocomplete
{
	position:absolute!important;
	padding-top: 20px;
}
.connectedSortable 
{ 
  list-style: none; 
  margin: 0;
  padding: 0;
  height: 50px;
  font: 13px Arial, Helvetica, Geneva, sans-serif;
}
.connectedSortable tr.table-header
{
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
  cursor: default;
}
.connectedSortable tr.cancelSorting
{
  background-color: #ddd;
}
.connectedSortable li div
{
  display: block;
  float: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 3px 5px;
}
.connectedSortable li div.song-name  { width: 200px; }
.connectedSortable li div.song-author  { width: 200px; }
.connectedSortable li div.song-year  { width: 100px; }
.connectedSortable li div.song-album  { width: 150px; }
</style>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">moodplayer</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<div class='form-group'>
								<form id='uploadForm' enctype="multipart/form-data" style='padding-top:8px'>
						            <input type="file" id='songInput' name="file" title='Upload' multiple>
						            <button id='btnUpload2' class='btn btn-default' type="submit" value=""><span class='glyphicon glyphicon-upload'></span> Send</button>
						        </form>
                    
					    	</div>
						</li>
            <li>
              <div id='processing'></div>
            </li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input id='autocomplete' type="text" class="form-control" placeholder='serch in your library'>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a id='btnLogout' href="/Logout">Logout</a>
						</li>
					</ul>
				</div>
				
			</nav>
			<br/><br/><br/>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<h1><%- title %></h1>
					<div class="media well">
			            <audio id='audio' controls autoplay='autoplay'>
			              <source src="" type="audio/mp3">
			              Your browser does not support the audio element.
			            </audio>
                  <button id='btnNext' class='btn btn-default' onclick='nextMusic()'><span class='glyphicon glyphicon-step-forward'></span></button> <br/>
			            <span id='playing'><b>song</b> - artist</span>
					</div>
				</div>
				<div class="col-md-8 column">
					<span style='font-size:24px'>Playlist</span>
          <div class="input-group" style='width:300px'>
            <input type="text" class="form-control" width='200px' id='tagName'>
            <span class="input-group-btn">
              <button id='savePlaylist' class="btn btn-default" type="button" onclick='savePlaylist()'>Save</button>
            </span>
          </div>
          <div style='height: 300px;overflow:auto;' >
            <table  class="table connectedSortable">
              <thead>
                <tr class='table-header'>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Year</th>
                  <th>Album</th>
                </tr>
              </thead>
              <tbody id='playlist' class='connectedSortable'>
                <tr class='table-header'>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tbody>
            </table>
          </div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div id='playlistsBtn' class="btn-group">
						<b>No suggested playlist yet. Try upload more songs or create your own playlists!</b>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
          <table  class="table connectedSortable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Year</th>
                  <th>Album</th>
                </tr>
              </thead>
              <tbody id='availableSongs' class='connectedSortable'>
              </tbody>
            </table>
				</div>
			</div>
		</div>
	</div>
</div>
<%if(firstAccess){%>
<div class="modal fade" id="helpDragModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Build your first playlist!</h4>
      </div>
      <div class="modal-body">
        Drag your uploaded songs to the playlist to start listening!
        <img src='/images/dragging.png' width='500' height='300'></img>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
<%}%>
<script type='text/javascript'>
var arrMusics = [];
var playlist = [];
  var ind = 0;
  var files;
  var array = '<%= musictitle %>'.split('/');
  var playingMusic = array[array.length - 1];
  var tableHeader = '';//"<li class='clearfix table-header'><div class='song-name'>Name</div><div class='song-author'>Artist</div><div class='song-year'>Year</div><div class='song-album'>Album</div><li>";
  var spriteTimer;

  $('#songInput').on('change', function (event){
      files = event.target.files;
  });

  $('form').on('submit', function (event){
    event.stopPropagation();
    event.preventDefault();

    spriteTimer = setInterval(animateProcessing, 2500);

    var data = new FormData();
    var toUpload =[];
    for(var i = 0; i < files.length; i++){
        if(files[i].type.indexOf('audio') != -1){
          toUpload.push(files[i]);
        }
    }
    
    $.each(toUpload, function(key, value){
      data.append(key, value);
    });

    $.ajax({
      url: '/upload',
      type: 'POST',
      data: data,
      cache: false,
      dataType: 'json',
      processData: false,
      contentType: false,
      success: function(data){
        if(!data.error){
        	updateMusics();
        }
      },
      error: function(data){
        alert('error');
      }
    });
  });

  //Document Ready
  $(document).ready(function(){
		$( "#availableSongs" ).sortable({
      cancel: "tr.cancelSorting",
		  connectWith: '.connectedSortable',
      update : function () { 
                var order = $('#playlist').sortable('toArray'); 
                console.log(order);
                updateMusicList(arrMusics);
            } 
		}).disableSelection();
    var removeIntent = false;
    $( "#playlist" ).sortable({
      cancel: "tr.cancelSorting",
      over: function () {
                removeIntent = false;
            },
      out: function () {
            removeIntent = true;
          },
      beforeStop: function (event, ui) {
          if(removeIntent == true){
              ui.item.remove();   
          }
      },
      update : function () { 
                var order = $('#playlist').sortable('toArray', 'id'); 
                console.log(order);
                getPlaylistByOrder(order);
            } 
    }).disableSelection();
    
    $( "#autocomplete" ).autocomplete({
        source: '/getMusicsName' ,
        select: function(event ,ui){
          putMusicNext(ui.item.label);
        }
    });

  updateMusicsAndPlaylist();
  updatePlaylistsName();

  $('input[type=file]').bootstrapFileInput();
  $('.file-inputs').bootstrapFileInput();

  setBalloons();
  <%if(firstAccess){%>
  $('#btnLogout').showBalloon({contents: 'logout button', position: "bottom"});
  $('#btnUpload2').showBalloon({contents: 'Click Here to <br/><b>upload</b>', position: "bottom", tipSize: 40});
  $('#songInput').showBalloon({contents: '<b>Choose</b> your song', position: "bottom", offsetX: -120});
  $('#autocomplete').showBalloon({contents: '<b>Search</b> songs to put on current playlist', position: "right"});
  
  $('#savePlaylist').showBalloon({contents: 'Name your current playlist and <b>save it</b>', position: "right"});
  $('#playlist').showBalloon({contents: 'Your current <b>playlist</b>. Drag songs here to build playlists', position: "right"});
  $('#audio').showBalloon({contents: 'The <b>player</b>', position: "right"});
  $('#btnNext').showBalloon({contents: '<b>Controls</b> of the player', position: "right"});
  $('#playing').showBalloon({contents: 'Current <b>song</b> playing', position: "left"});
  $('#playlistsBtn').showBalloon({contents: 'Our <b>suggested playlists</b><br> and your saved playlists', position: "left"});
  $('#availableSongs').showBalloon({contents: 'All of your <b>uploaded songs</b>.<br/> Drag songs to your playlist<br/> to build them.', position: "left"});
  <%}%>
  /**
  * audio events
  */

  $('#audio').on('play', function(){
        $.ajax({
          type: 'POST',
          url: '/getTags/',
          data: {name: playingMusic},
          success: function(data){
            $('#tags').val('');
            if(data != undefined && data.length > 0){
              data.forEach(function(item){
                $('#tags').val($('#tags').val() + item);
              })
            }
          }
        });
        $.ajax({
          type: 'POST',
          url: '/addPlayCount/',
          data: {name: playingMusic},
          success: function(data){
          }
        });
        getRate();
    });
    

    $('#audio').on('ended', function(){
      nextMusic();
    });

  });
  <%if(firstAccess){%>
  var once = true;
  $(document).click(function(e){
    if(once){
      $('#btnLogout').hideBalloon();
  
  
      $('#btnUpload2').hideBalloon();
      $('#songInput').hideBalloon();
      $('#autocomplete').hideBalloon();
      
      $('#savePlaylist').hideBalloon();
      $('#playlist').hideBalloon();
      $('#audio').hideBalloon();
      $('#btnNext').hideBalloon();
      $('#playing').hideBalloon();
      $('#playlistsBtn').hideBalloon();
      $('#availableSongs').hideBalloon();

      once = false;
    }
  });
  <%}%>
  function setBalloons(){
    $('#btnLogout').balloon({contents: 'logout button', position: "bottom", delay: 1500});
    $('#btnUpload2').balloon({contents: 'Click Here to <br/><b>upload</b>', position: "bottom", delay: 1500});
    $('#songInput').balloon({contents: '<b>Choose</b> your song', position: "bottom", offsetX: 120, delay: 1500});
    $('#autocomplete').balloon({contents: '<b>Search</b> songs to put on current playlist', position: "right", delay: 1500});
    
    $('#savePlaylist').balloon({contents: 'Name your current playlist and <b>save it</b>', position: "right", delay: 1500});
    $('#playlist').balloon({contents: 'Your current <b>playlist</b>. Drag songs here to build playlists', position: "right", delay: 1500});
    $('#audio').balloon({contents: 'The <b>player</b>', position: "right", delay: 1500});
    $('#btnNext').balloon({contents: '<b>Controls</b> of the player', position: "right", delay: 1500});
    $('#playing').balloon({contents: 'Current <b>song</b> playing', position: "left", delay: 1500});
    $('#playlistsBtn').balloon({contents: 'Our <b>suggested playlists</b><br> and your saved playlists', position: "left", delay: 1500});
    $('#availableSongs').balloon({contents: 'All of your <b>uploaded songs</b>.<br/> Drag songs to your playlist<br/> to build them.', position: "left", delay: 1500});
  }

  var animateSprite = 0;
  function animateProcessing(){
    if(animateSprite > 4)
      animateSprite = 0;
    switch(animateSprite){
      case 0:
        $('#processing').html('<b>Processing.<b>');
        break;
      case 1:
        $('#processing').html('<b>Processing..   <b>');
        break;
      case 2:
        $('#processing').html('<b>Processing...  <b>');
        break;
      case 3:
        $('#processing').html('<b>Processing.... <b>');
        break;
      case 4:
        $('#processing').html('<b>Processing.....<b>');
        break;
    }
    animateSprite++;
  }
  
  function getPlaylistByOrder(order){
    $.ajax({
      url: '/getPlaylistUpdate',
      type: 'POST',
      data: {pl: order},
      success: function(data){
        if(!data.status){
          updateMusicsFromDrag(data);
        }
        else
          console.log(data);
      }
    });
  }

    function saveTags(){
      var moods = $('#tags').val();
      $.ajax({
          type: 'POST',
          url: '/saveTags',
          data: {tags: moods,name: playingMusic},
          success: function(data){
              console.log(data);
          }
        });
    }

    function getPlaylist(att, value){
      $.ajax({
        type: 'POST',
        url:'/getPlaylist',
        data: {att: att, value: value},
        success: function(data){
          if(!data.status){
            playlist = data;
            ind = 0;
            updatePlaylist();
          }
        }
      })
    }

    function putMusicNext(song){
      var array = song.split(' - ');
      var title = array[0];
      var author = array[1];
      $.ajax({
            type: 'POST',
            url: '/getMusic',
            data: {title: title, author: author},
            success: function(data){
              playlist.splice(ind,0,data);
              updatePlaylist();
            }
          })
    }

    function updatePlaylist(){
      $('#playlist').html('');
      var i = 0;
      playlist.forEach(function(item){
        $('#playlist').html($('#playlist').html() + '<tr id="' + item.name.split('.')[0] + '"><td>' + item.title +'</td><td>'+ item.author +'</td><td>'+ item.year + '</td><td>'+ item.album + '</td></tr>');
        i++;
      });

    }

    var timer = undefined;

    function nextMusic(){
    	if(timer)
    		clearTimeout(timer);
      if(ind >= playlist.length){
        ind = 0;
      }
      saveTags();
      playingMusic = playlist[ind].name;
      
      $('#playing').html('<b>' + playlist[ind]. title + '</b> - ' + playlist[ind].author);
      ind++;
      timer = setTimeout(changeStream, 500);
    }
    
    function changeStream(){
      console.log('changeStream');
    	if(timer){
        clearTimeout(timer);        
      }
		$.ajax({
			url: '/getMusicUrl',
			type: 'POST',
			data: {name: playingMusic},
			success: function(data){
				audio.src = data.url;
			},
			fail: function(data){
				console.log(data);
			}
		});
    }

    function getRate(){
    	if(playingMusic && playingMusic != ''){
    		$.ajax({
            type: 'POST',
            url: '/getRate',
            data: {name: playingMusic},
            success: function(data){
            	if(data && data.rate){
	            	console.log('rate:'+data.rate);
	            	$('#spRate').html(' ' + data.rate);	
	            	$('#spVotes').html(' ' + data.rates);	
            	}
            },
            error : function(err){
            	console.log('Erro: ' + err)
            }
          })
    	}
    }

    function rating(sel){
    	if(playingMusic && playingMusic != '' && sel.value != 0){
    		$.ajax({
            type: 'POST',
            url: '/rateMusic',
            data: {name: playingMusic, rate: sel.value},
            success: function(data){
            	console.log('rate:'+data.rate);
            	$('#spRate').html(' ' + data.rate);
            	$('#spVotes').html(' ' + data.rates);
            },
            error : function(err){
            	console.log('Erro: ' + err)
            }
          })
    	}
    	else{
    		sel.value = 0;
    	}
    	
    }
    function updateMusics(){
    	$.ajax({
          type: 'POST',
          url: '/getMusics/',
          success: function(data){
            console.log('success');
            updateMusicList(data);
          },
        });
    }

    function updateMusicsAndPlaylist(){
      $.ajax({
          type: 'POST',
          url: '/getMusics/',
          success: function(data){
            console.log('success');
            updateMusicList(data);
            updatePlaylistFromBackend(data);
          },
        });
    }
    var firstAccess = <%if(firstAccess){%>true<%}else{%>false<%}%>;
    var flag = false;
    function updateMusicList(data){
      arrMusics = [];
      var needUpload = false;
      if(!data.status){
        $('#availableSongs').html(tableHeader);
        var i = 1;
        data.forEach(function(item){
          arrMusics.push(item);
          $('#availableSongs').html($('#availableSongs').html() + '<tr id="' + item.name.split('.')[0] + '"><td id="songName-' + i + '">' + item.title +'</td><td>'+ item.author +'</td><td>'+ item.year + '</td><td>'+ item.album + '</td></tr>');
          if(item.uploaded == 0){
            needUpload = true;
            flag = true;
            $('#songName-' + i).html($('#songName-' + i).html() + ' <b>uploading...</b>');
            $('#' + item.name.split('.mp3')[0]).addClass('cancelSorting');
          }
          i++;
        });

        //Update Playlist buttons
        updatePlaylistsName();

        if(needUpload)
          verifyMusicStatus();

        if(firstAccess && flag && !needUpload){
          flag = false;
          $('#helpDragModal').modal('toggle');
        }
      }
    }
    
    function verifyMusicStatus(){
      $.ajax({
          type: 'POST',
          url: '/getMusicsStatus/',
          success: function(data){
            if(data.needUpload){
              setTimeout(verifyMusicStatus, 2000);
            }
            else{
              updateMusics();
              if(spriteTimer)
                clearInterval(spriteTimer);
                $('#processing').html('');
            }
          },
        });
    }

    function updatePlaylistFromBackend(data){
      if(!data.status){
        playlist = [];
        data.forEach(function(item){
          playlist.push(item);
        });
        updatePlaylist();
        ind = 0;
        nextMusic();
      }
    }

    function updateMusicsFromDrag(data){
      if(!data.status){
        var lengthBefore = playlist.length;
        playlist = [];
        var flag = true;
        data.forEach(function(item){
          playlist.push(item);
        });
        updateInd();
        updatePlaylist();
        if(playlist.length == 1 && lengthBefore == 0){
          nextMusic();
        }
      }
    }

    function updateInd(){
      console.log(playingMusic);
      ind = 0;
      for(var i = 0; i < playlist.length; i ++){
        if(playlist[i].name == playingMusic){
          ind = i + 1;
        }
      }
    }

    function savePlaylist(){
      console.log('savePlaylist')
      var order = $('#playlist').sortable('toArray');
      if($('#tagName').val() != ''){
        var tag = $('#tagName').val();
        $.ajax({
          url: '/savePlaylist',
          type: 'POST',
          data: {pl: order, tag: tag},
          success: function(data){
            if(data.status == 0)
              $('#tagName').val('');
            updatePlaylistsName();
          }

        })  
      }
    }

    function updatePlaylistsName(){
      $.ajax({
          url: '/getPlaylistsName',
          type: 'POST',
          success: function(data){
            console.log(data);
            if(data){
              var i = 0;
             $('#playlistsBtn').html('');
             $.each(data, function(ind, item){
                console.log('entered');
                $('#playlistsBtn').append('<button id="btn-' + ind + '" class="btn" onclick=\'getPlaylist("' + item.att + '","' + item.name + '")\'>' + item.name + '</button>');
                var btnclass = '';
                if(item.att == 'genre')
                  btnclass = 'btn-success';
                else if(item.att == 'author')
                  btnclass = 'btn-info';
                else if(item.att == 'tags')
                  btnclass = 'btn-warning';
                else
                  btnclass = 'btn-default';
                
                $('#btn-' + ind).addClass(btnclass);
             });
            // $('#playlistsBtn').append('</p>');
            }
          }

        });
    }
</script>
</body>
</html>
