<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">moodplayer 0.1 <small>beta</small></a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<div class='form-group'>
								<button class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" style='margin-top:8px'>
                  <span class='glyphicon glyphicon-upload'></span> Upload
                </button>
			                    
				    	</div>
              <div id='processing'></div>
				</div>
				
			</nav>
		</div>
		<div class="col-md-4 column" style='text-align:center;vertical-align:middle;'>
			<p>
        <div style='text-align:center;vertical-align:middle;'>
          <button id='btnPrev' class='btn btn-default' onclick='previousMusic()'><span class='glyphicon glyphicon-step-backward'></span></button>
          <button id='btnPrev' class='btn btn-default' onclick='playMusic()'><span class='glyphicon glyphicon-repeat'></span></button>
          <button id='btnNext' class='btn btn-default' onclick='nextMusic()'><span class='glyphicon glyphicon-step-forward'></span></button>
        </div>
      </p>
		</div>
		<div class="col-md-4 column" style='text-align:center;vertical-align:middle;'>
			<div class="media well">
          <audio id='audio' controls>
			              <source src="" type="audio/mp3">
			              Seu navegador não suporta o elemento audio
			            </audio><br/>
          <br/>
        <span id='playing'><b>música</b> - artista</span>
			</div>
		</div>
		<div class="col-md-4 column" style='text-align:center;vertical-align:middle;'>
			<p>
			<div class="input-group">
			  <span class="input-group-addon"><span class='glyphicon glyphicon-search'></span></span>
			  <input id='autocomplete' type="text" class="form-control" width='300px' placeholder='procure em sua biblioteca'>
			</div>
		</div>
	</p>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column" style='text-align:center;vertical-align:middle;'>
			<div class="btn-group btn-group-sm" >
				 <button class="btn btn-info" type="button" onclick='openFirstView()'>Músicas</button> <button class="btn btn-info" type="button" onclick='showPlaylistInList("author")'>Artista</button> <button class="btn btn-info" type="button" onclick='showPlaylistInList("genre")'>Gênero</button> <button class="btn btn-info" type="button" onclick='showPlaylistInList("year")'>Ano</button> <button class="btn btn-info" type="button" onclick='showPlaylistInList("tags")'>Playlists</button>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column" style='height: 300px;' >
			<!-- -->
		<div id='playlistsAvailable' class="col-md-4 column" style='display:none;'>
			<table class="table table-condensed"> 
				<thead>
					<tr>
						<th>#</th>
            <th>Nome</th>
					</tr>
				</thead>
				<tbody id='divLists'>
					<tr class="warning" >
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
					</tr>
				</tbody>
			</table>
		</div>
					<tr class="warning" >
		<div id='songsAvailable' class="col-md-8 column" style='display:none;'>
			<h2 id='listHeading'>Artistas</h2>
			<table id='tbSongsAvailable'class="table table-condensed table connectedSortable"> 
				<thead>
					<tr>
						<th>Nome</th>
            <th>Album</th>
            <th>Ano</th>
            <th>Plays</th>
					</tr>
				</thead>
				<tbody id='avSongs' class='connectedSortable'>
				</tbody>
			</table>
		</div>
			<table id='songsTable'class="table table-condensed table connectedSortable"> 
				<thead>
					<tr>
						<th>Nome</th>
            <th>Artista</th>
            <th>Ano</th>
            <th>Album</th>
            <th>Plays</th>
					</tr>
				</thead>
				<tbody id='availableSongs' class='connectedSortable'>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
<%if(firstAccess){%>
<div class="modal fade" id="helpDragModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Crie sua primeira playlist!</h4>
      </div>
      <div class="modal-body">
        Arraste suas músicas recentemente carregadas para Playlists para começar a ouvi-las!
        <img src='/images/dragging.png' width='500' height='300'></img>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi!</button>
      </div>
    </div>
  </div>
</div>
<%}%>
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Carregar músicas</h4>
      </div>
      <div class="modal-body">
        <div class='form-group'>
          <p>Carregamento máximo: 100Mb por vez.</p>
                <form id='uploadForm' enctype="multipart/form-data" style='padding-top:8px'>
                        <input type="file" id='songInput' name="file" title='Escolher' multiple>
                        <button id='btnUpload2' class='btn btn-default' type="submit" value=""><span class='glyphicon glyphicon-upload'></span> Enviar</button>
                    </form>
                    
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script src='/js/jquery.form.min.js'></script>
<script src="/js/bootstrap-file-input.js"></script>
<script src='/js/jquery.js'></script>
<script src='/js/jquery-ui.js'></script>
<script src='/js/jquery.form.min.js'></script>
<script src="/js/bootstrap-file-input.js"></script>
<script src="/js/jquery.balloon.min.js"></script>
<script src="/js/main.js"></script>