<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>moodplayer</title>

    <!-- CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700,800' rel='stylesheet' type='text/css'>-->
    <link href="/css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery-ui.js"></script>
    
  </head>

  <body>

  
    <!-- 
         ***********************
    	   *      BODY       *
    	 *********************** 
   	-->
    <%- body %>

    <!-- JavaScript -->
    <script src="/js/bootstrap.js"></script>


  </body>
  </body>
</html>