<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">moodplayer</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-right" id='loginForm' method='post' role="search">
						<div class="form-group">
							<input type="text" name='inEmail' class="form-control" placeholder="Email address" />
						</div>
						<div class="form-group">
							<input type="password" name='inPassword' class="form-control" placeholder="Password"/>
						</div> <button type="submit" class="btn btn-primary">Login</button>
					</form>
					<div id='loginResponse'></div>
				</div>
				
			</nav>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="page-header">
						<h1>
							moodplayer <small>listen your songs everywhere</small>
						</h1>
						
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
					<div id='divResponse'></div>
					<form class="form-signin" id='signupForm'> 
						<h2 class="form-signin-heading">Sign up today for free</h2>
						<input type="text" name='inEmail' class="form-control" placeholder="Email address" required autofocus>
						
						<input type="password" id='suPass' name='inPassword' class="form-control" placeholder="Password" required>
						
						<input type="password" id='suCfmPass' name='inCfmPassword' class="form-control" placeholder="Confirm Password" required><br>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
					</form>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-4 column">
			<h2>
				Your songs in the cloud
			</h2>
			<p>
				Upload your songs and listen everywhere you go with one click. No need to plug your devices and no more annoying messages of "Out of memory".
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Smart Playlists
			</h2>
			<p>
				Once you upload your songs, we automatically separate them in playlists like genre, year, artist and more. You also can build your own playlist and listen on any device.
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Social Features
			</h2>
			<p>
				Other users will be able to check your playlists once they upload songs in common. You can also rate your songs, and check the average rate of this among other users.
			</p>
		</div>
	</div>
</div>
<script type='text/javascript'>
$(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
		$('#signupForm').submit(function(e) {
		console.log('submit');
		var postData = $("#signupForm").serializeArray();
		if(checkForm()){
			$.ajax({
			url: '/newUser',
			type: 'POST',
			contentType: "application/x-www-form-urlencoded;charset=UTF-8",
			data: postData,
			success: function(data) {
					   if(data.status != 0){
						$('#divResponse').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Error!</strong>' + data.details + ' </div>');
					   }
					   else{
							window.location.href = '/';
					   }
					}
			});
		}
		else{
			$('#divResponse').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Warning!</strong>Password doesn\'t match! </div>');
		}
		e.preventDefault();
	}); 
	$('#loginForm').submit(function(e) {
		console.log('submit');
		var postData = $("#loginForm").serializeArray();
		$.ajax({
		url: '/login',
		type: 'POST',
		contentType: "application/x-www-form-urlencoded;charset=UTF-8",
		data: postData,
		success: function(data) {
				   if(data.status != 0){
					$('#loginResponse').html('<div class="alert alert-danger"><b>Oh-oh</b> ' + data.details + ' </div>');
				   }
				   else{
						window.location.href = '/';
				   }
				}
		});
		
		e.preventDefault();
	});
}); 
function checkForm(){
	return $('#suPass').val() == $('#suCfmPass').val()
}
</script>
