<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">moodplayer</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-right" id='loginForm' method='post' role="search">
						<div class="form-group">
							<input type="text" name='inEmail' class="form-control" placeholder="Endereço de email" />
						</div>
						<div class="form-group">
							<input type="password" name='inPassword' class="form-control" placeholder="Senha"/>
						</div> 
						<div class="form-group">
							<input type="password" name='auther' class="form-control" placeholder="Auther"/>
						</div> <button type="submit" class="btn btn-primary">Login</button>
						
					</form>

					<div id='loginResponse'></div>
				</div>
				
			</nav>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="page-header">
						<h1>
							moodplayer <small>ouça suas músicas em qualquer lugar</small>
						</h1>
						
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
					<div id='divResponse'></div>
					<form class="form-signin" id='signupForm'> 
						<h2 class="form-signin-heading">Cadastre-se hoje de graça</h2>
						<input type="text" name='inEmail' class="form-control" placeholder="Endereço de email" required autofocus>
						
						<input type="password" id='suPass' name='inPassword' class="form-control" placeholder="Senha" required>
						
						<input type="password" id='suCfmPass' name='inCfmPassword' class="form-control" placeholder="Confirme sua senha" required><br>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Cadastre-se</button>
					</form>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-4 column">
			<h2>
				Suas músicas na nuvem
			</h2>
			<p>
				Carrege suas músicas e ouça em qualquer lugar que você for com um clique. Sem precisar plugar seu celular nem precisar ver mais mensagens irritantes como "Sem memória sulficiente".
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Playlists inteligentes
			</h2>
			<p>
				Uma vez que você carrega suas músicas, Nós automaticamente separamos elas em playlists como gênero, ano, artista e outras. Você também pode montar sua própria playlist e ouvir em qualquer lugar.
			</p>
		</div>
		<div class="col-md-4 column">
			<h2>
				Características sociais
			</h2>
			<p>
				Outros usuários poderam ter sua playlist uma vez que eles carreguem músicas em comum. Você também pode dar notas à suas músicas e ver a média entre outros usuários.
			</p>
		</div>
	</div>
</div>
<script type='text/javascript'>
$(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
		$('#signupForm').submit(function(e) {
		console.log('submit');
		var postData = $("#signupForm").serializeArray();
		if(checkForm()){
			$.ajax({
			url: '/newUser',
			type: 'POST',
			contentType: "application/x-www-form-urlencoded;charset=UTF-8",
			data: postData,
			success: function(data) {
					   if(data.status != 0){
						$('#divResponse').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Error!</strong>' + data.details + ' </div>');
					   }
					   else{
							window.location.href = '/';
					   }
					}
			});
		}
		else{
			$('#divResponse').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Warning!</strong>Password doesn\'t match! </div>');
		}
		e.preventDefault();
	}); 
	$('#loginForm').submit(function(e) {
		console.log('submit');
		var postData = $("#loginForm").serializeArray();
		$.ajax({
		url: '/login',
		type: 'POST',
		contentType: "application/x-www-form-urlencoded;charset=UTF-8",
		data: postData,
		success: function(data) {
				   if(data.status != 0){
					$('#loginResponse').html('<div class="alert alert-danger"><b>Oh-oh</b> ' + data.details + ' </div>');
				   }
				   else{
						window.location.href = '/';
				   }
				}
		});
		
		e.preventDefault();
	});
}); 
function checkForm(){
	return $('#suPass').val() == $('#suCfmPass').val()
}
</script>
